<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <form class="powerBtn" method="post">
            <input type="text" class="nonce" name="start" id="start" value="90">
            <button type="submit">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg class="startBtn" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <rect class="cls-1" x="159" y="111" width="50" height="290" rx="25" ry="25"/>
                    <rect class="cls-1" x="262.45" y="50.51" width="50" height="290" rx="25" ry="25" transform="translate(-25.59 346.69) rotate(-60)"/>
                    <rect class="cls-1" x="142.45" y="290.51" width="290" height="50" rx="25" ry="25" transform="translate(-119.24 185.99) rotate(-30)"/>
                </svg>
            </button>
        </form>
    </nav>
    <div class="container">
        <form class="navigation">
            <button type="submit">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg class="vitalySvg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <rect class="cls-2" x="149" y="243" width="75" height="26" rx="13" ry="13"/>
                    <rect class="cls-2" x="287" y="243" width="75" height="26" rx="13" ry="13"/>
                    <rect class="cls-2" x="267.01" y="175.71" width="75" height="26" rx="13" ry="13" transform="translate(-44.25 270.59) rotate(-45)"/>
                    <rect class="cls-2" x="169.01" y="310.71" width="75" height="26" rx="13" ry="13" transform="translate(-168.41 240.84) rotate(-45)"/>
                    <rect class="cls-2" x="193.51" y="151.21" width="26" height="75" rx="13" ry="13" transform="translate(-72.95 201.3) rotate(-45)"/>
                    <rect class="cls-2" x="291.21" y="285.42" width="26" height="75" rx="13" ry="13" transform="translate(-139.24 309.69) rotate(-45)"/>
                    <ellipse class="cls-1" cx="256" cy="256" rx="69" ry="91"/>
                    <circle class="cls-2" cx="234.5" cy="199.5" r="10.5"/>
                    <circle class="cls-2" cx="277.5" cy="199.5" r="10.5"/>
                </svg>
            </button>
            <button type="submit">
                <svg class="statsSvg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <rect class="cls-1" x="81" y="250" width="153" height="27" rx="13.5" ry="13.5" transform="translate(-140.19 188.55) rotate(-45)"/>
                    <rect class="cls-1" x="219.85" y="196.15" width="27" height="153" rx="13.5" ry="13.5" transform="translate(-105.06 153.2) rotate(-30)"/>
                    <rect class="cls-1" x="223.1" y="245.62" width="219.55" height="27" rx="13.5" ry="13.5" transform="translate(-85.73 311.27) rotate(-45)"/>
                    <rect class="cls-1" x="387.25" y="177.22" width="27" height="73.67" rx="13.5" ry="13.5"/>
                    <rect class="cls-1" x="340.45" y="176.72" width="73.67" height="27" rx="13.5" ry="13.5"/>
                </svg>
            </button>
            <button type="submit">
                <svg class="aboutSvg" viewBox="0 0 146 146" xmlns="http://www.w3.org/2000/svg">
                    <path d="M57.6016 58.8848C57.6016 55.3413 54.729 52.4688 51.1855 52.4688C47.6421 52.4688 44.7695 55.3413 44.7695 58.8848V87.4004C44.7695 90.9439 47.6421 93.8164 51.1855 93.8164C54.729 93.8164 57.6016 90.9439 57.6016 87.4004V58.8848Z" fill="#F2F2F2"/>
                    <path d="M93.7774 56H69.2226C64.6814 56 61 63.3873 61 72.5C61 81.6127 64.6814 89 69.2226 89H93.7774C98.3186 89 102 81.6127 102 72.5C102 63.3873 98.3186 56 93.7774 56Z" fill="#F2F2F2"/>
                </svg>
            </button>
            <button type="submit">
                <svg class="reportSvg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <rect class="cls-2" x="218.45" y="175.12" width="133" height="45" rx="22.5" ry="22.5" transform="translate(-1.54 392.99) rotate(-69.03)"/>
                    <rect class="cls-2" x="223.81" y="275.97" width="45" height="45" rx="22.5" ry="22.5" transform="translate(-120.53 421.67) rotate(-69.03)"/>
                    <rect class="cls-1" x="224" y="124" width="45" height="133" rx="22.5" ry="22.5"/>
                    <rect class="cls-1" x="224" y="276" width="45" height="45" rx="22.5" ry="22.5"/>
                </svg>
            </button>
           <button type="submit">
                <svg class="themeSvg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <circle class="cls-1" cx="256" cy="256" r="95"/>
                    <rect class="cls-1" x="243" y="87" width="25" height="60" rx="12.5" ry="12.5"/>
                    <rect class="cls-1" x="243" y="363" width="25" height="60" rx="12.5" ry="12.5"/>
                    <rect class="cls-1" x="382.5" y="227.5" width="25" height="60" rx="12.5" ry="12.5" transform="translate(652.5 -137.5) rotate(90)"/>
                    <rect class="cls-1" x="106.5" y="227.5" width="25" height="60" rx="12.5" ry="12.5" transform="translate(376.5 138.5) rotate(90)"/>
                    <rect class="cls-1" x="340.02" y="127.36" width="25" height="60" rx="12.5" ry="12.5" transform="translate(214.52 -203.18) rotate(45)"/>
                    <rect class="cls-1" x="144.86" y="322.52" width="25" height="60" rx="12.5" ry="12.5" transform="translate(295.36 -8.02) rotate(45)"/>
                    <rect class="cls-1" x="339.31" y="325.35" width="25" height="60" rx="12.5" ry="12.5" transform="translate(851.85 357.85) rotate(135)"/>
                    <rect class="cls-1" x="144.15" y="130.19" width="25" height="60" rx="12.5" ry="12.5" transform="translate(380.69 162.69) rotate(135)"/>
                </svg>
           </button>
        </form>
        <div class="mainMenu"></div>
    </div>
    <div class="circles">
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
</body>
</html>